$background-dark-color: #121418;
$background-light-color: white;
$text-color-light: white;
$text-color-dark: #171618;
$text-color-mid: #787878;
$box-border-color: #4444441A;
$box-shadow-color: #44444412;
$shape-color: #DADAF4;

body{
    margin: 0;
    background-color: $background-light-color;
}

.container{
    margin: 0px auto;
    width: 1360px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    color: $text-color-light;
    text-decoration: none;
}

h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

header{
    background-color: $background-dark-color;
    
    & > .container{
        height: 115px;
        border-bottom: 1px solid #684838;
    }
}

.dark-background{
    background-color: $background-dark-color;
}

.home{
    height: 1001px;
    color: $text-color-light;
    
    & .dark-background{
        height: 690px;
    }
}

.bordered-box{
    border: 1px solid $box-border-color;
    border-radius: 10px;
}

.shadow-box{
    box-shadow: 0px 14px 40px $box-shadow-color;
}

.grey-text{
    color: $text-color-mid;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.slider-container{
    padding-top: 100px;
    width: 125px;
    display:flex;
    justify-content: space-between;
}

@media (min-width: 901px){
    .mobile-only{
        display: none !important;
    }
}

@media (max-width: 900px) {
    body {
        
    }
    .container{
        width: 100vw;
        padding: 10px;
    }
    header .container{ 
        height: 60px;
    }
    header .navigation-container{
        flex-direction: column;
        background-color: blue;
        position: absolute;
        transform: translateX(100%);
        transition: transform .2s ease-in-out;
        right: 0;
        top: 60px;
        width: min-content;
        padding: 15px 20px;
        & .nav-link{
            margin-left: 0;
        }
    }
    .home{
        height: 700px;
    }
    .home-content-wrapper.container{
        flex-flow: column !important;
        width: 100vw;
        top: 140px !important;
        position: absolute;
        & h1{
            font-size: 50px;
            width: auto;
        }
        & .p-and-button{
            width: auto;
        }
        & .video-wrapper{
            padding: 0;
            margin: 0;
            top: 74px;
        }
    }
    .trusted-clients{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start !important;
        height: 806px !important;
    }
    .working-process{
        align-items: flex-start;
        height: 700px;
    }
}